<!DOCTYPE html>
<html xmlsn:th="http://www.thymeleaf.org">
    <head>
        <title>Nuevo Cliente</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h2>Datos del cliente</h2>
        <br>
        <a th:href="@{/}">Regresar</a>
        <br>
        <br>

        <form th:action="@{/guardarCliente}"
            method="post"
            th:object="${cliente}">
            <input type="hidden" name="idcliente" th:field="*{idcliente}" />
            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre" th:field="*{nombre}" />
            <br>
            <label for="apellidos">Apellidos: </label>
            <input type="text" name="apellidos" th:field="*{apellidos}" />
            <br>
            <label for="correo">Correo: </label>
            <input type="email" name="correo" th:field="*{correo}" />
            <br>
            <label for="telefono">Teléfono: </label>
            <input type="tel" name="telefono" th:field="*{telefono}" />
            <br>
            <input type="submit" name="guardar" value="Guardar Registro" />
        </form>

    </body>
</html>
